Repository alitonia/multi-choice-system, pull requests merged in 2021-12, with the labels that each got.

#83 Dev/alitonia/#80
  backend/src/app/api/account/__init__.py
  backend/src/app/api/account/router.py
  backend/src/app/api/question/router.py
  backend/src/app/api/routers.py
  backend/src/app/api/test/__init__.py
  backend/src/app/api/test/router.py
  backend/src/app/main.py
  backend/src/app/models/account.py
  backend/src/app/models/base.py
  backend/src/app/models/examiner.py
  backend/src/app/models/role.py
  backend/src/app/models/student.py
  backend/src/app/schemas/account.py
  backend/src/app/services/account_service.py
  backend/src/app/services/student_service.py
Labels: reviewing, backend

#67 fix login page form height
  frontend/src/components/LoginPanel/LoginPanel.styles.js
  frontend/src/pages/LoginPage/LoginPage.styles.js
Labels: pending merge, frontend

#85 finish account service
  backend/src/app/api/account/router.py
  backend/src/app/schemas/account.py
  backend/src/app/services/account_service.py
  backend/src/app/utils/decrypt_encrypt_service.py
Labels: pending merge, backend

#89 Update README.md to contain drive links to documentation
  README.md
Labels: doc

#87 Update account date_of_birth format
  backend/src/app/services/account_service.py
Labels: pending merge, backend

#82 Ops/alitonia/query hooks
  frontend/.flowconfig
  frontend/src/hooks/queryFamily/baseQuery/useBaseQuery.js
  frontend/src/hooks/queryFamily/fakeQuery/hintDict.js
  frontend/src/hooks/queryFamily/fakeQuery/useFakeQuery.js
  frontend/src/pages/Placeholder.js
Labels: frontend, sprint 2, important

#93 Exam Get service
  backend/src/app/api/exam/__init__.py
  backend/src/app/api/exam/router.py
  backend/src/app/api/routers.py
  backend/src/app/models/exam.py
  backend/src/app/models/examiner.py
  backend/src/app/services/exam_service.py
  docker_data/db-config/2-fill-data.sql
  docker_data/db-config/4-exam-test-data.sql
Labels: backend

#92 Dev/alitonia/#80
  backend/src/app/api/account/router.py
  backend/src/app/models/admin.py
  backend/src/app/models/examinee.py
  backend/src/app/services/account_service.py
  docker_data/data-gen/account.py
  docker_data/db-config/1-database-bootstrap.sql
  docker_data/db-config/3-account.sql
Labels: pending merge, backend

#90 Add login feature and jwt checks for authenticated endpoint
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  backend/src/app/api/account/router.py
  backend/src/app/api/auth.py
  backend/src/app/api/libs/security.py
  backend/src/app/api/routers.py
  backend/src/app/core/principal.py
  backend/src/app/main.py
  backend/src/app/schemas/account.py
  backend/src/app/services/account_service.py
Labels: backend, sprint 2, important

#96 Complete exam service with jwt
  backend/src/Dockerfile
  backend/src/app/api/exam/router.py
  backend/src/app/models/participant.py
  backend/src/app/schemas/exam.py
  backend/src/app/services/account_service.py
  backend/src/app/services/exam_service.py
  backend/src/requirements.txt
  docker-compose.yml
  docker_data/data-gen/account.py
  docker_data/db-config/3-account.sql
Labels: backend

#88 account management
  backend/src/app/api/account/router.py
  backend/src/app/schemas/account.py
  backend/src/app/services/account_service.py
  frontend/.eslintrc
  frontend/.prettierrc
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/LoginPanel/LoginPanel.styles.js
  frontend/src/components/LoginPanel/index.js
  frontend/src/components/footer/Footer.styles.js
  frontend/src/hooks/queryFamily/baseQuery/useBaseQuery.js
  frontend/src/hooks/queryFamily/fakeQuery/hintDict.js
  frontend/src/pages/Dashboard/ExamCard.js
  frontend/src/pages/Dashboard/ExamCard.styles.js
  frontend/src/pages/Dashboard/MainView.js
  frontend/src/pages/ExamPage/index.js
  frontend/src/pages/Placeholder.js
  frontend/src/pages/account/EditAccount/index.js
  frontend/src/pages/account/EditAccount/style.module.css
  frontend/src/pages/admin/CreateAccount/index.js
  frontend/src/pages/admin/CreateAccount/style.module.css
  frontend/src/pages/admin/Dashboard/index.js
  frontend/src/pages/admin/Dashboard/style.module.css
  frontend/src/pages/routes.js
  frontend/src/store/actions.js
  frontend/src/store/auth/selectors.js
  frontend/src/store/auth/slice.js
  frontend/src/store/auth/thunks.js
  frontend/src/store/index.js
  frontend/src/store/reducers/common.js
  frontend/src/store/reducers/index.js
  frontend/yarn.lock
Labels: frontend, sprint 2

#99 Dev/alitonia/answers
  backend/src/app/api/answer/__init__.py
  backend/src/app/api/answer/router.py
  backend/src/app/api/routers.py
  backend/src/app/schemas/answer.py
  backend/src/app/services/answer_service.py
Labels: backend

#108 add pagination to admin dashboard
  backend/src/app/services/account_service.py
  frontend/src/pages/admin/Dashboard/index.js
  frontend/src/pages/admin/Dashboard/style.module.css
  frontend/yarn.lock
  package.json
Labels: pending merge

#94 Dev/datpham/#76
  frontend/src/pages/CRUDExam/CRUDTable.js
  frontend/src/pages/CRUDExam/CreateExam.js
  frontend/src/pages/CRUDExam/EditExam.js
  frontend/src/pages/CRUDExam/EditExam.module.scss
  frontend/src/pages/Dashboard/MainView.js
  frontend/src/pages/admin/Dashboard/index.js
Labels: reviewing, frontend

#106 Dev/tuanla/api authentication
  backend/src/app/api/exam/router.py
  backend/src/app/api/question/router.py
  backend/src/app/services/exam_service.py
  backend/src/app/services/question_service.py
Labels: pending merge

#109 add 404 page
  frontend/src/index.css
  frontend/src/pages/404/404.js
  frontend/src/pages/404/404.scss
  frontend/src/pages/routes.js
  frontend/src/utils/isLoggedIn.js
Labels: frontend
